html {
background-color:#666666;
width:100%; height:100%;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
overflow:hidden;
margin:0; padding:0;
}

body {
background-color:#666666; color:#FFFFFF;
width:100%; height:100%;
font-family:Verdana, Serif; font-size:10px;
overflow:hidden;
margin:0; padding:0;
}

a {
background:transparent;
color:#BBC9F1;
text-decoration:none;
}

a:hover {
background:transparent;
color:#BBC9F1;
font-weight:700;
}

:link,:visited {
color:#BBC9F1;
}

#mapsection {
background-color:#666666; color:#000000;
margin:0; margin-right:165px;
height:100%;
font-family:Verdana, Serif; font-size:10px;
height:100%;
border:2px solid #666666;
z-index:1;
}

#creditsection {
position:absolute;
bottom:3px; left:150px;
font-family:Verdana, Serif; font-size:10px;
text-decoration:none;
margin-left:5px; margin-right:5px;
text-align:center;
background-color:rgba(255, 255, 255, 0.7); color:#0078A8;
z-index:3;
}

#navigationsection {
background-color:#666666; color:#FFFFFF;
text-align:left;
width:160px; height:100%;
float:right;
overflow:auto;
border:2px solid #666666;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
margin-top:5px; padding:0;
}

#configsection {
background-color:#666666; color:#FFFFFF;
position:absolute;
top:40%; left:40%;
width:350px; height:270px;
border:2px solid #000000;
margin-left:5px; margin-right:5px; padding:5px 5px 5px 5px;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
overflow:auto;
z-index:5;
}

#loginsection {
background-color:#444444; color:#FFFFFF;
width:50%;
margin:auto;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
}

.pulldown {
background-color:#FFFFFF; color:#000000;
width:150px;
white-space:nowrap;
text-align:left;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
border:1px; border-style:solid; border-spacing:1px;
margin-top:1px; padding:0;
}

.pulldownshort {
background-color:#FFFFFF; color:#000000;
width:134px;
white-space:nowrap;
text-align:left;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
border:1px; border-style:solid; border-spacing:1px;
margin-top:1px; padding:0;
}

.pulldownX {
background-color:#FFFFFF; color:#000000;
width:12px;
white-space:nowrap;
text-align:center;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
border:1px; border-style:solid; border-spacing:1px;
margin-top:1px; padding:0;
}

.button {
background-color:#000000; color:#FFFFFF;
width:150px;
white-space:nowrap;
text-align:center;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
border:1px; border-style:solid; border-spacing:1px;
margin-top:1px; padding:0;
}

.buttonshort {
background-color:#000000; color:#FFFFFF;
width:80px;
white-space:nowrap;
text-align:center;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
border:1px; border-style:solid; border-spacing:1px;
margin-top:1px; padding:0;
}

.intervalbutton {
background-color:#000000; color:#FFFFFF;
width:35px;
white-space:nowrap;
text-align:center;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
border:1px; border-style:solid; border-spacing:1px;
margin-top:1px; padding:0;
}

.intervalinputfield {
background-color:#E8E8E8;
width:20px;
white-space:nowrap;
text-align:center;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
border:1px; border-style:solid; border-spacing:1px;
margin-top:1px; padding-top:0px;
}

.textinputfield {
background-color:#E8E8E8;
width:150px;
white-space:nowrap;
text-align:center;
font-family:Verdana, Serif; font-size:10px; font-weight:700;
border:1px; border-style:solid; border-spacing:1px;
margin-top:1px; padding-top:0px;
}
